.body{
    height:100%;
    width: 100%;
    background-color: rgb(0, 0, 0);

    position: relative;
}
.body::before{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url('../../assets/HomeBg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: .19;
}
.container{
    position: absolute;

    width: 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
