.container{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: white;
    padding: 40px 10px;
    border-radius: 10px;
}

/* form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: red; */
/* } */

input{
    width: 80%;
    padding: 0px 10px;
    margin: 10px 10px;
    font-size: 16px;
    border:none;
    background-color: transparent;
    border-bottom: 2px solid gray;
}
input:focus{
    outline: none;
}

button{
    margin-top: 10px;
    padding: 15px 20px;
    width: 85%;
    border-radius: 10px;
    background-color: rgb(87, 87, 176);
    color: white;
    border:none;
}
button:active{
    scale: .99;
    background-color: grey;
}

.form{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    place-items: center;
}
.err{
    color: red;
}
.success{
    color:green;
}
@media(max-width:768px){
    h1{
        font-size: 24px;
    }
    .container{
        width: 90vw;
    }
}